@import "font-awesome";
@import "themes";
html, body {
  height: 100vh;
  margin: 0;
  padding: 0;

  div.buttons-row{
    width: 95%;
    margin: 0 auto;
  }
  .demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
  }
  .content-block{
    height: 80vh;
    position: relative;
    margin: 0;
    .google-map {
      height: 100%;
    }
    .swiper-container{
      height: 20vh;
      position: relative;
      bottom: 110px;
    }
  }
  .swiper-slide{
    border: 1px solid #fff;
    border-radius: 10px;
    background: #ccc;
    padding: 10px;
    box-sizing: border-box
  }
  .marker{
    width: 32px;
    height: 37px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    align-items: center;
    line-height: 35px;
    background: url('../img/marker-blue.png') no-repeat;
  }
  .clicked-marker{
    width: 42px;
    height: 47px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: $blue;
    align-items: center;
    line-height: 45px;
    background: url('../img/marker-white.png') no-repeat;
    z-index: 999;
    background-size: cover;
  }
  .button .button-round .button-fill{
    width: 50%;
    margin: 0 auto;
  }
}


@import "header";
@import "panels";