<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title id="title"></title>
    <link rel="stylesheet" href="libs/framework7/css/framework7.ios.min.css">
    <link rel="stylesheet" href="libs/framework7/css/framework7.ios.colors.min.css">
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body>

  <!-- Statusbar overlay-->
  <div class="statusbar-overlay"></div>
  <!-- Panels Overlay -->
  <div class="panel-overlay"></div>
  <!-- Left Panel with Reveal effect -->
  <div class="panel panel-left panel-reveal">
    <div class="list-block">
      <div class="list-group">
        <ul>
          <li class="item-content list-panel-all close-panel item-link">
            <div class="item-media"><i class="icon ion-ios7-paper"></i></div>
            <div class="item-inner">
              <div class="item-title">Settings</div>
            </div>
          </li>
          <li class="item-content list-panel-favorites close-panel item-link">
            <div class="item-media"><i class="icon ion-ios7-star"></i></div>
            <div class="item-inner">
              <div id="logout" class="item-title">Logout</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <!-- Views -->
    <div class="views">
      <!-- Your main view, should have "view-main" class -->
      <div class="view view-main">
        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left">
              <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
            </div>
            <div class="center">MyApp</div>
            <div class="right"></div>
          </div>
        </div>

        <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through">
          <!-- Pag has additional "with-subnavbar" class -->
          <div data-page="home" class="page">
            <div class="page-content hide-bars-on-scroll">
              <div class="tabs">
                <div id="tab1" class="tab active pull-to-refresh-content">

                    <!-- Pull to Refresh -->
                    <div class="pull-to-refresh-layer">
                      <div class="preloader"></div>
                      <div class="pull-to-refresh-arrow"></div>
                    </div>
                    <div class="list-block places-list">
                      <div class="loading"><i class="preloader"></i></div>
                    </div>
                </div>
                <div id="tab2" class="tab">
                  <div class="content-block">
                    <div class="google-map" id="map">
                      <div class="loading"><i class="preloader"></i></div>
                    </div>
                    <!--Slider-->
                    <div class="swiper-container">
                      <div class="swiper-wrapper"></div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- Bottom Toolbar-->
            <div class="toolbar toolbar-bottom">
              <div class="buttons-row">
                <a href="#tab1" class="button tab-link active">List</a>
                <a href="#tab2" id="initMap" class="button tab-link">Map</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Popup to checkin -->
  <div class="popup popup-checkin">
    <div class="view view-popup navbar-fixed">
      <div class="navbar">
        <div class="navbar-inner">
          <div class="left"></div>
          <div class="center sliding">Checkin</div>
          <div class="right"><a href="#" class="link close-popup">Cancel</a></div>
        </div>
      </div>
      <div class="pages">
        <div class="page">
          <div class="page-content">
            <form id="checkin-form" class="list-block store-data">

                <div class="item-content">
                  <div class="item-inner">
                    <div class="item-input">
                      <textarea type="text" name="name" placeholder="Text..."></textarea>
                    </div>
                  </div>
                </div>

                <a href="#" class="button button-round button-fill get-storage-data">Checkin</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Templates-->
    <script id="places-template" type="place/template">
      <div class="content-block tablet-inset">
        <div class="content-block-inner">
          <ul>
            {{#each this}}
            <a href="#" data-id="{{id}}" class="item-link item-content">
              <div class="item-media"><img src="{{icon}}" width="40"></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">{{title}}</div>
                  <div class="item-text">{{distance}} м</div>
                  <div class="item-text">{{typeName}}</div>
                </div>
                <div></div>
              </div>
            </a>
            {{/each}}
          </ul>
        </div>
      </div>
    </script>
    <!--detales template-->
    <script id="detales-template" type="place/template">
      <div class="pages navbar-fixed">
        <div data-page="detail" data-id="{{id}}" class="page">

          <div class="navbar theme-purple">
            <div class="navbar-inner">
              <div class="left">
                <a href="index.html" class="back link text-navbar">Back</a>
              </div>
              <div class="center">MyApp</div>
              <div class="right">
                <a href="#" class="link text-navbar open-checkin">CheckIn</a>
              </div>
            </div>
          </div>
          <div class="fake-navbar bg-purple"></div>
          <div class="page-content">

            <div class="card demo-card-header-pic">
              <div style="background-image:url('img/bg_image_o.jpg')" valign="bottom" class="card-header color-white no-border">{{title}}</div>
              <div class="card-content">
                <div class="card-content-inner">
                  <p class="color-gray">{{address}}</p>
                </div>
              </div>
              <div class="card-footer">
                <p class="link">Checkins - {{checkins}}</p>
              </div>
            </div>

            <!--Checkins List-->
            <div class="card">
              <div class="card-header">CheckIns</div>
              <div class="card-content">
                <div class="list-block media-list">
                  <div id="checkinContent">
                    <div class="loading"><i class="preloader"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script id="checkin-template" type="place/template">
      {{#each this}}
        <div class="card">
          <div class="card-header">
            <div class="item-media">
              <img src="{{userInfo.photo}}" width="44">
            </div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">{{userInfo.firstName}} {{userInfo.lastName}}</div>
              </div>
              <div class="item-subtitle">{{date}}</div>
            </div>
          </div>
          <div class="card-content">
            <div class="card-content-inner">{{text}}</div>
          </div>
        </div>
      {{/each}}
    </script>
    <script id="place-slide" type="text/template">
      {{#each this}}
      <div class="swiper-slide">
        <a href="#" data-id="{{id}}" class="item-link item-content">
          <div class="item-media"><img src="{{icon}}" width="40"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">{{title}}</div>
              <div class="item-text">{{address}}</div>
              <div class="item-text">{{typeName}}</div>
              <div class="item-text">Chekins - {{checkins}}</div>
            </div>
            <div></div>
          </div>
        </a>
      </div>
      {{/each}}
    </script>

  <script id="propose-checkin" type="text-template">
    <div class="card">
      <div class="card-header no-border">
        <div>No Checkins. You can be the first!</div>
      </div>
      <a href="#" data-id="{{id}}" class="button button-big button-fill open-checkin">Checkin</a>
    </div>
  </script>

  <script id="places-filters" type="text/template">

  </script>


    <script id="cordova" type="text/javascript" charset="utf-8" src="cordova.js"></script>
    <script src="libs/framework7/js/framework7.min.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>



